:root{
    --font-color:#555;
    --font-hover-color:blue
    ;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
*{
    margin:0 ;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*Header*/
header{
    background-image: url('../img/JorgeHerrera.jpeg') ;
    background-repeat:no-repeat;
    background-size:cover;
    height: 100vh;
    
    
}
.layer{
    background-color: rgba(134, 134, 134, 0.5);
    height: 100vh;
}
nav{
    padding:20px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.logo{
    color:#fff;
}
.nav-links{
    display:flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links a{
    color:#fff;
    text-decoration: none;
}
.nav-links a:hover{
    text-decoration:underline;
}
/*Incentives*/
#incentives{
    padding:100px 150px;
    background-color: #000257;
    color: #fff;
    display:block;
    
}
.incentives{
    display: flex;
    justify-content:space-around;
}
/*Form*/
#form{
    background-color: #fff;
    display: block;
    padding: 100px 0px;
}
.container{
    width: 50%;
    margin:0 auto;

}
.form-group{
    margin-bottom:1.5em;
}
.form-label{
    font-size:1.25em;
    color:var(--font-color);
    display:block;
    opacity: 1;
}
select{
    background-color: #fff;
}
option:hover{
    background-color: #000257;
}
.form-control{
    box-shadow:none;
    border-radius: 0;
    border-color:#ccc;
    
    border-style:none none solid none;
    width: 100%;
    font-size:1.25em;
}
.form-control::placeholder{
    color:#aaa;
}
.form-control:focus{
    box-shadow:none;
    border-color:var(--font-hover-color)
}
.btn{
    background: 0 0 #fff;
    border:1px solid #aaa;
    border-radius:8px;
    color:var(--font-color);
    font-size: 1em;
    padding:10px 50px;
    text-transform:uppercase;
}
.btn:hover{
    border-color:var(--font-hover-color);
    color:var(--font-hover-color)
}
textarea{
    resize:none;
}
/*Footer*/
footer{
    background-color:#000257;
    display: flex;
    justify-content: space-around;
    padding: 50px 150px;
    color: #fff;
    width: 100%;
}
.contact-box{
    width: 30%;
}
.contact-item{
    display:flex;
}
.icon{
    font-size:30px;
    color:#fff;
    
    margin: 10px 15px;
}
.footer-subtitle{
    margin: 5px 0px;
}
.footer-contact i{
    margin-right: 15px;
    font-size: 20px;
}
/*Section commons*/
.section-title{
    text-align:center;    
}
.section-subtitle{
    font-size: 1.5em;
}
.divider1{
    height: 5px;
    width:100px;
    margin: 1.5em auto;
    border-radius:3px;
    background-color: #fff;
}
.divider2{
    height: 5px;
    width:100px;
    margin:1em  auto;
    border-radius:3px;
    background-color: #000;
}

.info{
    text-align: justify;
    font-size:1.3em;
}
.item-box{
    width: 30%;
    text-align: center;
}
.item-icon{
    text-align: center;
    font-size:40px;
    margin: .5em auto;
    
}
@keyframes anim1{
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes anim2{
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes anim3{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.thankyou{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thankyou h1, .thankyou h2, .thankyou p{
    color: #fff;
}
@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
        align-items: baseline;
    }
    .nav-links{
        flex-direction: column;
        margin: 1em 0;
    }
    .nav-links a{
        margin: .5em 0;
    }
    #incentives{
        padding: 4em 0;
    }
    .incentives{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .item-box{
        width: 70%;
        margin: 1em 0;
    }
    #footer{
        padding:2em 1em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-footer{
        display: flex;
        flex-direction: row;
    }
}
#logo{
    max-width: 120px;
}